{% extends "layout.html" %}

{% block title %} Contact Page {% endblock %}

{% block content %}
    <h1>Index</h1>
    <p>
      Welcome to Index.html page.
    </p>

    {% with messages = get_flashed_messages() %}
        {% if messages%}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message}}</li>
                {% endfor %}
            </ul>
        {% endif%}
    {% endwith %}
    
{% endblock %}

{% block footer %}
    &copy; Copyright 2026 by <a href="www.apnacollege.in">ApnaCollege</a>.
{% endblock %}
